* {
    margin: 0; 
    padding: 0;
}

li {
    list-style: none;
}

#wrap a {
    text-decoration: none;
}
    
#wrap ul {
    margin: 0; padding: 0;
}

@media(max-width:768px) {
    #header, #content1, #content2, #content3, #footer {
        width:100%;
    }
}
