* {
    margin: 0; 
    padding: 0;
}

li {
    list-style: none;
}
@media(min-width:1024px) {
    #wrap {
        width:auto;
        height:auto;
    }
    #wrap a {
        text-decoration: none;
    }
    
    #wrap ul {
        margin: 0; padding: 0;
    }
}
