@font-face {
    font-family: "naverfont";
    src: url(font/ArchivoBlack-Regular.ttf);
}
.npay_text>p {
    font-size: 13px;
}
.npay_text>p>.npay_blind {
    font-family: "naverfont";
    font-size: 16px;
    color: rgb(0, 255, 0);
    font-weight: bolder;
}